<div class="container mt-5">
  <div class="d-flex align-items-center flex-column">
    <a (click)="onClose()" class="text-primary-rec col-12 col-md-11 text-decoration-none btn-return cursor-pointer">
      <i class="bi bi-chevron-left "></i> Regresar
    </a>
    <div class="mt-5 col-12 col-md-11 mb-3">
      <h4 class=" fw-bold text-primary-rec">Preparar receta</h4>
    </div>
  </div>
  <div class="d-flex align-items-center flex-column">
    <div class="col-12 col-md-11 mb-3">
      <img [src]="recipe.imageUrl" class="img-fluid rounded" alt="Imagen de la receta">
    </div>
    <div class="col-12 col-md-11 mb-3 ">
      <h2 class="text-primary-rec">{{ recipe.title }}</h2>
      <p class="lead text-primary-rec">{{ recipe.description }}</p>
    </div>
    <div class="col-12 col-md-11 d-flex justify-content-start">
      <table class="table w-75">
        <thead>
        <tr class="text-primary-rec">

          <th class="text-primary-rec" scope="col">Ingrediente</th>
          <th  class="text-primary-rec" scope="col">Medida</th>
          <th class="text-primary-rec" scope="col">Cantidad</th>
          <th class="text-primary-rec" scope="col">Cantidad</th>
        </tr>
        </thead>
        <tbody>
        <ng-container >
          <tr *ngFor="let el of recipe.ingredients" >
            <td>{{el.name}}</td>
            <td>{{ el.extent }}</td>
            <td> {{ el.quantity }}</td>
            <td class="">
              <input [checked]="el.status" (change)="onCheckIngredient(el)" class="ms-3 form-check-input" type="checkbox" id="flexCheckDefault">


            </td>
          </tr>
        </ng-container>

        </tbody>
      </table>


    </div>
    <div class="my-4 col-12 col-md-11 d-flex justify-content-start">
      <button (click)="onClose()" class="bg-primary-rec btn btn-primary" [disabled]="!getReadyPrepare">
        <i class="bi bi-check2-all"></i>
        Receta lista
      </button>
    </div>

  </div>
</div>
