<div class="container-fluid">
  <div class="row mb-3  ">
    <div class="bg-primary-rec  text-white d-flex align-items-center fw-bold navbar-recipe">
      <span class="font-size-title">Recetario</span>
    </div>
  </div>

  <div class="row d-flex ">

    <div *ngFor="let recipe of recipes" class="mb-4 col-12  col-sm-6 col-md-4 col-lg-3">
      <div class="card h-100">
        <img [src]="recipe.imageUrl" style="height: 300px; width: auto;" class="card-img-top" alt="Imagen de la receta">
        <div class="card-body">
          <h5 class="card-title ">{{ recipe.title }}</h5>
          <p class="card-text ">{{ recipe.description }}</p>
        </div>
        <div class="ms-3 mb-3 actions">
          <button (click)="editRecipe(recipe)" class="me-2 bg-primary-rec btn btn-primary  text-white"><i class="bi bi-pencil-fill"></i></button>
          <button  (click)="prepareRecipe(recipe)" class="bg-primary-rec btn btn-primary  text-white"><i class="me-2 bi bi-cookie"></i>Preparar</button>
        </div>
      </div>
    </div>

  </div>
</div>
