
<ng-template #template>
  <div class="d-flex justify-content-center mx-3 mt-3">

    <div class="icon-alert">
      <ng-container *ngIf="type === 'danger'">
        <i class="text-danger bi bi-exclamation-triangle"></i>
      </ng-container>
      <ng-container *ngIf="type === 'success'">
        <i class="text-success bi bi-check-circle-fill"></i>
      </ng-container>

    </div>

  </div>
  <div class="modal-body d-flex justify-content-center">
    <span class="text-{{type}}">{{ title }}</span>
  </div>

  <div class="d-flex justify-content-end mt-5 me-3 mb-3">
    <button type="button" class="btn text-white  bg-primary-rec" (click)="closeAlert()">Cerrar</button>

  </div>
</ng-template>




