<div class="d-flex  mt-5 col-12 flex-column align-items-center">

  <div class="col-xxl-6 container-fluid col-xl-8 col-11">
    <div class="row">
      <a (click)="onCloseAlertAction()" class="col-12 text-decoration-none btn-return cursor-pointer">
        <i class="bi bi-chevron-left"></i> Regresar
      </a>
      <div class="mt-5 col-12">
        <h4 class=" fw-bold ">Agregar receta</h4>
        <h4 class="mt-5 mb-3 fw-bold font-size-title">Imagen de la receta: </h4>
      </div>
    </div>
  </div>
  <form [formGroup]="formRecipe" id="form-recipe" class="col-11  col-xxl-6 col-xl-8 d-flex align-items-center flex-column">

    <div id="form-container" class="container-fluid  w-100  ">

      <div class=" row  gx-0  ">


        <div class="mb-3 pe-xl-2 col-12 col-xl">
          <label for="exampleFormControlTitle" class="form-label">Titulo:</label>
          <input formControlName="title" type="text" class="form-control " [ngClass]="{
            'is-invalid': isFieldValid('title'),
          }" id="exampleFormControlTitle" placeholder="Ejemplo: Papas a la francesa">
          <div class="valid-feedback">
            Completado
          </div>
          <div class="invalid-feedback">
            Completar campo
          </div>
        </div>
        <div class="mb-3 ps-xl-2 col-12 col-xl">
          <label for="exampleFormControlAuthor"  class="form-label">Autor:</label>
          <input [ngClass]="{
             'is-invalid': isFieldValid('author')
          }" formControlName="author" type="text" class="form-control" id="exampleFormControlAuthor" placeholder="Ejemplo: Carlos Pérez">
          <div class="valid-feedback">
            Completado
          </div>
          <div class="invalid-feedback">
            Completar campo
          </div>
        </div>
        <div class=" col-sm-6 col-12">
          <label for="exampleFormControlDescription"  class="form-label">Descripción:</label>
          <textarea [ngClass]="{
            'is-invalid': isFieldValid('description'),
          }" formControlName="description" class="form-control" placeholder="Preparación de la receta" id="exampleFormControlDescription" rows="3"></textarea>
          <div class="valid-feedback">
            Completado
          </div>
          <div class="invalid-feedback">
            Completar campo
          </div>
        </div>
      </div>
    </div>

    <div class="w-100 container-fluid mt-3 ">
      <hr class="solid mb-3 mt-3">

      <div id="ingredients-container">
        <h4 class=" mt-3 mb-3 fw-bold font-size-title">Ingredientes: </h4>
        <button *ngIf="ingredients.length > 0" (click)="onAddIngredient()" class="btn  mb-3 btn-primary me-2 btn-sm bg-primary-rec">
          <i class="bi  bi-plus-square"></i>
          Agregar ingredientes
        </button>
        <ng-container *ngIf="ingredients.length === 0">
          <div (click)="onAddIngredient()" class="cursor-pointer ingredients-empty mb-3">

            <i class="bi size-icon me-2 bi-plus-square"></i>
            <span>Agregar ingredientes</span>
          </div>
        </ng-container>
        <ng-container *ngIf="ingredients.length > 0">
          <table class="table">
            <thead>
            <tr>

              <th scope="col">Ingrediente</th>
              <th scope="col">Medida</th>
              <th scope="col">Cantidad</th>
              <th scope="col">Cantidad</th>
            </tr>
            </thead>
            <tbody>
              <ng-container >
                <tr *ngFor="let el of ingredients" >
                  <td>{{el.name}}</td>
                  <td>{{ el.extent }}</td>
                  <td> {{ el.quantity }}</td>
                  <td>
                    <button (click)="openEditIngredient(el)" class="btn btn-primary me-2 btn-sm bg-primary-rec">
                      <i class="bi bi-pencil-fill"></i>
                    </button>

                    <button (click)="removeIngredient(el)" class="btn btn-danger btn-sm ">
                      <i class="bi bi-trash3-fill"></i>
                    </button>
                  </td>
                </tr>
              </ng-container>

            </tbody>
          </table>
        </ng-container>
      </div>
      <hr *ngIf="ingredients.length === 0" class="solid mt-4 mb-4">
      <h4 class=" mt-3 mb-3 fw-bold font-size-title">Imagen de la receta: </h4>
      <app-file-drag-and-drop *ngIf="imageUrl === null" (onFile)="onFile($event)"></app-file-drag-and-drop>
      <img id="image-recipe" *ngIf="imageUrl !== null"  src="{{ imageUrl }}" />
      <div class="mt-3 d-flex justify-content-end">
        <button (click)="saveRecipe()" class="bg-primary-rec btn btn-primary">Guardar receta</button>
      </div>
    </div>
  </form>
</div>
<app-modal-ingredient [(open)]="openIngredientModal" [ingredient]="ingredient" (save)="onSave($event)"></app-modal-ingredient>
<app-alert [(open)]="openAlert" [title]="titleAlert" [type]="typeAlert" (close)="onCloseAlertAction()"> </app-alert>

