@import "src/styles";

.btn-return {
  color: black;
  font-size: var(--font-size-2);
}

.btn-return:hover {
  color: var(--primary);
}

#image-recipe {
  max-width: 300px;
  min-height: 300px;
}

#form-recipe{
  .ingredients-empty {
    background-color: #f5f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 90px;

    span {
      font-size: var(--font-size-2);
      font-weight: 600;
    }
  }
}
