<label for="exampleFormControlName" class="form-label is-valid">{{label}}:</label>

<div class="ng-autocomplete w-100" id="exampleFormControlName">
  <ng-autocomplete
    [data]="data"
    [placeholder]="placeholder"
    (selected)='selectEvent($event)'
    [initialValue]="getInitValue"
    (inputCleared)="onCleared()"
    [itemTemplate]="itemTemplate"
    [notFoundTemplate]="notFoundTemplate">
  </ng-autocomplete>

  <ng-template #itemTemplate let-item>
    <a [innerHTML]="item"></a>
  </ng-template>

  <ng-template #notFoundTemplate >
    <span>No hay elementos</span>
  </ng-template>
</div>
