
<ng-template #template>
  <div class="modal-header">
    <h4 class="modal-title pull-left">Ingrediente</h4>
    <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="closeModal()">
      <span aria-hidden="true" class="visually-hidden">&times;</span>
    </button>
  </div>
  <div class="modal-body">
    <div class="w-100 row row-cols-xl-6 row-cols-lg-1" >
      <div class="mb-3 col-xl-6">
        <app-autocomplete
          id=""
          placeholder="Nombre del ingrediente"
          label="Nombre"
          [(value)]="this.ingredient.name"
          [initValue]="this.ingredient.name"
          [data]="ingredients"
        ></app-autocomplete>
        <div id="errorNameIngredient" class="invalid-feedback">
          Please choose a username.
        </div>
      </div>
      <div class="mb-3 col-xl-6">
        <app-autocomplete
          placeholder="Cucharadita"
          label="Unidad de medida"
          [(value)]="this.ingredient.extent"
          [initValue]="this.ingredient.extent"
          [data]="typesPortions"
        ></app-autocomplete>
      </div>
      <div class="mb-3 col-xl-6">
        <label for="QuantityExtent" class="form-label">Cantidad:</label>
        <input [(ngModel)]="ingredient.quantity" type="number" class="form-control" id="QuantityExtent" placeholder="Ejemplo: Papas a la francesa">
      </div>

    </div>
    <div *ngIf="errorId != null" class="alert alert-danger w-100" role="alert">
      <ng-container *ngIf="errorId === 'name'">Agregar el nombre del ingrediente</ng-container>
      <ng-container *ngIf="errorId === 'extent'">Agregar tipo de medida del ingrediente</ng-container>
      <ng-container *ngIf="errorId === 'quantity'">Agregar cantidad</ng-container>
    </div>
  </div>

  <div class="modal-footer">
    <button type="button" class="btn   bg-secondary-rec" (click)="closeModal()">Cancelar</button>
    <button type="button" class="btn btn-primary bg-primary-rec" (click)="saveIngredient()">Guardar</button>
  </div>
</ng-template>



