/* You can add global styles to this file, and also import other style files */
:root {

  --primary: #004E6C;
  --secondary: #6B660B;
  --font-size-1: 20px;
  --font-size-2: 16px;
  --font-weight-thin: 300;
  --font-weight-bold: 600;
  --font-weight-heavy: 800;
  --shadows: 7px 7px 7px rgba(0, 0, 0, .15);
}
* {
  font-size: var(--font-size-2);
}
.cursor-pointer {
  cursor: pointer;
}

.font-size-title {
  font-size: var(--font-size-1);
}

.size-icon {
  font-size: 20px
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

.bg-primary-rec {
  background-color: var(--primary) !important;
}

.text-primary-rec {
  color: var(--primary) !important;
}

.bg-secondary-rec {
  background-color: white !important;
  color: red !important;
  font-weight: 600 !important;
}

.autocomplete-container {
  box-shadow: none !important;
  border: var(--bs-border-width) solid var(--bs-border-color);
  border-radius: var(--bs-border-radius);
  .input-container {
    input {
      background-color: transparent !important;
      font-size: 1rem !important;
    }
  }

}
/* Importing Bootstrap SCSS file. */
@import "./node_modules/bootstrap/scss/bootstrap";

/* Importing Datepicker SCSS file. */
@import "node_modules/ngx-bootstrap/datepicker/bs-datepicker";
