<div id="container-file" class="cursor-pointer" (click)="onInputFile()" appFileDragAndDrop (fileDropped)="setFile($event)" (statusDragged)="onStatusDragged($event)" [sizeFile]="25">
  <div id="border-file" [ngClass]="{'is-error': status > 0, 'dragged': status === -1, 'success-status': status === -2}" class="justify-content-center d-flex align-items-center">
    <ng-container *ngIf="status === 0 || status === -1">
      <i class=" size-icon bi bi-cloud-arrow-up me-2"></i>
      <span class="d-xl-none">Agregar imagen </span>
      <span class="d-xl-block d-none">Arrastrar imagen o haz clic para seleccionar</span>
    </ng-container>
    <ng-container *ngIf="status === 1">
      <i class=" size-icon bi bi-x-circle me-2"></i>
      <span class="text-danger">Eñ archivo no es aceptado</span>
    </ng-container>

    <ng-container *ngIf="status === 2">
      <i class="size-icon bi bi-x-circle me-2"></i>
      <span class="text-danger">El archivo es demasiado grande</span>
    </ng-container>

    <ng-container *ngIf="status === -2">
      <i class="size-icon bi bi-check-lg me-2"></i>
      <span class="text-danger">Subida con éxito!!</span>
    </ng-container>
  </div>

  <input
    #inputFile
    (change)="onSelectFile($event)"
    type="file"
    accept="image/*"
    class="d-none"
  />
</div>
