@import '../../../styles';

$border-size: 2px;
#container-file {

  width: 100%;
  height: 130px;
  #border-file {
    border: $border-size black dashed;
    height: 100%;
    span {
      color: black;
    }
  }


}

.dragged {
  border-color: var(--secondary) !important;
  span {
    color: var(--secondary) !important;
  }
}

.is-error {
  border-color: red !important;
  span {
    color: red !important;
  }
}
.success-status {
  border-color: var(--primary) !important;
  span {
    color: var(--primary) !important;
  }
}
